<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DefenderX</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
</head>
<body>
    <h1>DefenderX</h1>
    <form id="scanForm">
        <label for="file">Select a file:</label>
        <input type="file" id="file" name="file">
        <label for="url">Or enter a URL:</label>
        <input type="text" id="url" name="url">
        <button type="submit">Analyze</button>
    </form>
    <!-- Add this after the first form in your HTML code -->
   <!-- <form id="domainForm">
        <label for="domain">Enter a domain:</label>
        <input type="text" id="domain" name="domain">
        <button type="submit">Analyze</button>
    </form>
    <div id="domainResult" class="result"></div> -->      
    <div class="loader" id="loader"></div>
    <div id="result" class="result"></div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>